.pcard {
  margin: 10px;
}

.projectCard {
  background: url("https://s3.amazonaws.com/lyrics-translation-tool/assets/img/md-img1.jpg")
    center / cover;
  height: 300px;
}

.project-title {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.editing-header-one {
  background-color: #00b8d4;
}

.editing-header-two {
  background-color: white;
}

.editing-header-two-title {
  color: black;
}
.normal-text {
  width: 100%;
}

.selector {
  width: 200px;
}
